@model PublicadorARP.Models.Dtos.RegistroUsuarioDto
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Login de usuário</h1>
                <p>Preencha as informações</p>
            </div>

            <form asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
